
.tabbar {
    display: block;
    padding: 0;
    /* color of separator line below heading */
    background-color: #d3d3d3;
    /* undo body margins to make tab bar stick to the top*/
    margin: -15px -17px 0px -17px;
    padding: 0px 17px;
}
.tabbar > li {
    display: inline-block;
    /* TODO draw a nice tab-like thingie */
    margin-top: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #999;
    border-bottom: none;
}
.tabbar > li > a {
    display: block;
    text-decoration: none;
    color: #333; /* can we just reset it to default text color?*/
    padding: 4px 8px;
}

.tabbar > li > a.active {
    font-weight: bold;
    background-color: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

#extensions-selection {
    padding: 0;
}
#extensions-selection > li {
    display: block;
    padding: 0;
}
#extensions-selection p {
    margin-top: 0;
    opacity: 0.7;
    line-height: 1.3;
    /* checkbox default width is 13px, try to align the description somewhat*/
    padding-left: 18px;
}

.dialog-button-box {
    float: right;
    padding-bottom: 14px;
}


img.konqi {
    float: right;
    margin-right: -14px;
}
